# permissions for end users to edit jsonservers.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: json-scheduler
    app.kubernetes.io/managed-by: kustomize
  name: jsonserver-editor-role
rules:
- apiGroups:
  - apps.example.com
  resources:
  - jsonservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.example.com
  resources:
  - jsonservers/status
  verbs:
  - get
